.quiz-js-wrapper{
	font-family: 'Calibri', sans-serif;
	.quiz-js-hidden{
		display: none !important;
	}

	.quiz-js-question{
		text-align: center;
	}

	.quiz-js-answers{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		&>div{
			flex-basis: 50%;
			text-align: center;
			margin-bottom: 10px;

			button{
				&.quiz-js-answer-clicked{
					border: 2px solid red;
				}

				&.quiz-js-answer-correct{
					border: 2px solid green;
				}

				span{
					display: block;

					&.quiz-js-answer-percentage{
						font-weight: bold;
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	.quiz-js-time-limit{
		width: 100%;
		margin-bottom: 10px;

		.quiz-js-time-left{
			height: 10px;
			background-color: grey;
		}

		.quiz-js-time-text{
			text-align: center;
		}
	}

	.quiz-js-next{
		display: block;
		margin: 0 auto;
	}

	.quiz-js-results{
		text-align: center;

		.quiz-js-ok{
			color: green;
		}

		.quiz-js-error{
			color: red;
		}
	}

	button{
		border-radius: 5px;
		background-color: rgb(221, 221, 221);
		border: none;
		color: rgb(0, 0, 0);
		-webkit-box-shadow: 0 0 5px 0 #9c9c9c;
		-moz-box-shadow: 0 0 5px 0 #9c9c9c;
		box-shadow: 0 0 5px 0 #9c9c9c;
		padding: 5px 10px;

		&:not(:disabled){
			cursor: pointer;

			&:hover{
				-webkit-box-shadow: 0 0 3pt 2pt #4D90FE;
				-moz-box-shadow: 0 0 3pt 2pt #4D90FE;
				box-shadow: 0 0 3pt 2pt #4D90FE;
				outline: none;
			}
	
			&:active{
				outline: none;
				background-color: #4D90FE;
			}
		}
	}
}